# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environments
.venv/
venv/
ENV/
env/
.env

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Generated Artifacts & Scratch
artifacts/*.pkl
scratch/

